## .gitignore

# Compiled Java classes
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# IDE specific files
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
bin/
out/
